* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {

    header {
        width: 100vw;
        background-size: cover;
        height: 100vh;
    }

    .top{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .navLista{
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .navLista ul{
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        background-color: #6f42c1;
        text-transform: uppercase;
    }

    .navLista a{
        font-size: 14px;
        font-weight: bold;
        color: #FFF;
        height: fit-content;
        margin: 10px;
        text-decoration: none;
        transition: color 0.5s;
        padding: 10px;
    }

    .navLista a:hover{
        color: #25d366;
    }

    .top{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }

    .top h1 {
        color: #6f42c1;
        text-align: center;
        background-size: 100%;
        font-weight: bold;
        font-size: 24px;
    }

    .top h2{
        font-size: 16px;
    }

    .sobre,
    .estudos,
    .outros,
    .redes {
        width: 100%;
        height: auto;
    }

    .outros {
        padding: 20px;
    }

    .redes {
        text-align: center;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    .page {
        width: auto;
        margin: 0 auto;
        /* background-size: cover; */
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: inherit;
    }

    .container{
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: #6f42c1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 30px;
    }

    .navLista ul{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        text-transform: uppercase;
        align-items: center;
    }

    .navLista a{
        font-size: 18px;
        font-weight: bold;
        color: #FFF;
        height: fit-content;
        margin: 10px;
        text-decoration: none;
        transition: color 0.5s;
        padding: fit-content;
    }

    .navLista a:hover{
        color: #25d366;
    }

    .navLista img{
        align-content: left;
        margin: 10px;
    }

    .top{
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
        align-items: center;
    }

    .top img{
        border-radius: 50%;
    }

    .topText h1 {
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 3px;
        color: #6f42c1;
        text-align: center;
        font-size: 3em;
    }

    .sobre {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .estudos,
    .outros {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .redes {
        width: 100%;
        height: 165px;
        text-align: center;
        margin-bottom: 30px;
    }

    .sobre,
    .estudos,
    .outros,
    .redes {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/*----------------------------------*/

.header {
    width: 100%;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.sobre {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 1.5;
    border-bottom: 1px solid #C5CED5;
}

.estudos {
    padding: 20px;
    line-height: 1.5;
    border-bottom: 1px solid #C5CED5;
}

.tit {
    text-align: start;
    margin-bottom: 10px;
}

.tit-redes {
    text-align: center;
    margin-bottom: 10px;
    text-decoration-style: groove;
}

.outros,
.redes {
    line-height: 1.5;
}

.fa {
    /* display: flex; */
    padding: 15px;
    font-size: 25px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 90%;
    background: black;
    color: white;
    transition: background-color 0.5s;
}

.fa-facebook:hover {
    background-color: #3b5998;
}

.fa-twitter:hover {
    background-color: #55ACEE;
}

.fa-instagram:hover {
    background-color: #c13584;
}

.fa-telegram:hover {
    background-color: #0088cc;
}

.fa-whatsapp:hover {
    background-color: #25d366;
}

.fa-github:hover{
    background-color: #6f42c1;
}

.gradient {
    height: 30px;
    position: relative;
    width: 100%;
    background: radial-gradient(ellipse farthest-side at top center, rgba(0, 0, 0, 0.3), transparent);
}

.gradient:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02), transparent);
}
